html, body {
/*
    background: url(images/pic3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

@font-face {
    font-family: Carnegie;
    src: url(fonts/Carnegie.ttf);
}

body {
/*
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
*/

/*
    background-image: url(images/pic3.jpg);
    background-position: top center;
    background-color: #FFF;
    background-repeat: no-repeat;
*/
}

a {
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}


/*Strip the ul of padding and list styling*/
#nav-bar ul {
	list-style-type:none;
	margin:0;
	padding:0;
    position: absolute;
    z-index: 5;
}

/*Create a horizontal list with spacing*/
#nav-bar li {
	display: inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
#nav-bar li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ccc;
/*	background: #2f3036;*/
	text-decoration: none;
}

/*Hover state for top level links*/
#nav-bar li:hover a {
	background: #2a6496;
}

/*Style for dropdown links*/
#nav-bar li:hover ul a {
	background: #ccc;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
#nav-bar li:hover ul a:hover {
	background: #428bca;
	color: #ccc;
}

/*Hide dropdown links until they are needed*/
#nav-bar li ul {
	display: none;
}

/*Make dropdown links vertical*/
#nav-bar li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
#nav-bar li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#nav-bar ul li a:hover + .hidden, #nav-bar .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
#nav-bar .show-menu {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	text-decoration: none;
	color: #333;
	background-color: #333;
	text-align: right;
	padding: 5px 10px;
	display: none;
    font-size: 2em;
}

#nav-bar .fa-bars {
    padding-left:5px;  
    color:#ccc;
/*    color: #2a6496;*/
}

#home-button .fa {
    margin-top: 10px;
}

#nav-bar #current a {
    color: #888;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/* Responsive Styles*/
/* Mobile screen size */
@media screen and (max-width : 790px){
    html, body {
/*
        background: url(images/pic3.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
*/
    }
    /* mobile background fixed */
    #background_wrap {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: 100%;
        background-image: url(images/pic4.jpg);
        background-attachment: fixed;
/*        background-repeat: no-repeat;*/
    }
	/*Make dropdown links appear inline*/
	#nav-bar ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	#nav-bar li {
		margin-bottom: 1px;
	}
    #nav-bar li a {
        background: #555;
    }
	/*Make all menu links full width*/
	#nav-bar ul li, #nav-bar li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	#nav-bar .show-menu {
		display:block;
	}
    #title {
        display: none;
    }
    .info-block {
        display: block;
        margin: 30px 10px 30px 10px;
    }
    #mobile-title {
        color:#ccc;
        margin-bottom: -35px;
        padding-top:10px;
        text-align: center;
        font-size: 1.2em;
    }
    #mobile-main-title {
        padding-left: 15px;
        padding-bottom: 10px;
        width: 100%;
        background-color: rgba(200,200,200,.7);
    }
    #mobile-main-title h4 {
        font-family: 'Carnegie', cursive;
        font-size: 1.8em;
        padding:0;
        margin:0;
    }
    #mobile-main-title h3 {
        font-weight: normal;
        margin-top: -5px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #mobile-main-title p {
        font-size: .9em;
        margin: 0;
        padding: 0;
    }
    #main-content {
        margin: 30px 10px 30px 10px;
    }
    #main-content img {
        width: 70%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* Full screen size */
@media screen and (min-width: 790px) {
    html, body {
        background: url(images/pic3.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #first {
        padding-top:50px;
    }
    .info-block {
        display: inline-block;
        width: 25%;
/*        max-width: 250px;*/
        margin:100px 0px 100px 0;
    }
    #nav-bar > ul {
        margin-left: 10%;
    }
    #practice-areas {
        margin-left:10%;
    }
    #title {
        background-color: rgba(200,200,200,.7);
        padding-left: 10%;
        padding-bottom: 10px;
        margin: 0 0 20px 0;
    }
    #title h4 {
        margin: 0;
        padding: 0;
        font-family: 'Carnegie', cursive;
        font-size: 2em;
    }
    #title h3 {
        font-weight: normal;
        margin: -5px 0 0px 0;
        padding: 0;
    }
    #title p {
        margin: 0;
        padding: 0;
    }
    #mobile-title {
        display: none;
    }
    #mobile-main-title {
        display: none;
    }
    #nav-bar li a {
        background: #2f3036;
/*        background: #333;*/
    }
    #main-content {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .back-to-top {
        display: none;
    }
}
/*
@media (max-width: @iphone-screen) {
        background-attachment: scroll;
}
*/

#contact p a {
    text-decoration: none;
    color: #428bca;
    font-family: "Courier New", Courier, monospace;
}

.info-block {
    padding:5px;
    border: 1px solid #333;
    text-align: center;
    vertical-align: top;
    background-color: rgba(200,200,200,.7);
}

#attorneys > p > a {
    color: #428bca;
    text-decoration: none;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

.info-block p {
    padding: 10px;
    border: 1px solid #333;
    margin:4px;
    background-color: #333;
    color: #ccc;
    font-weight: 300;
/*    opacity: .8;*/
}

.info-block h3 a {
    color: black;
    text-decoration: none;
}

#contact h3 a {
    color: black;
}

#main-content {
    padding:5px;
    border: 1px solid #333;
    text-align: center;
    background-color: rgba(200,200,200,.7);
}

.main-text {
    padding: 10px;
    border: 1px solid #333;
    margin:4px;
    background-color: #333;
    color: #ccc;
    font-weight: 200;
/*    letter-spacing: 1px;*/
/*    opacity: .8;*/
}

.main-text #centered-info {
    text-align: center;
}

.main-text p, #main-text h4 {
    text-align: left;
}

.main-text h4 {
    text-transform: uppercase;
    font-weight: 400;
}

.main-text a {
    padding: 3px;
    color: #ccc;
    text-decoration: none;
}

.main-text a:hover {
    background-color: #2a6496;
}

.main-text ul {
    text-align: left;
    padding:0px;
    padding-left: 20px;
}

#attorneys .main-text ul {
    padding: 0;
    margin: 5px 0;
    list-style-type: none;
}

#attorneys .main-text ul li {
    margin: 5px 0;
}

.main-content ul {
    text-align: left;
/*    list-style-type: none;*/
    padding:0px;
    padding-left: 20px;
}

#main-content ol {
    text-align: left;
}

#main-content li {
    margin-bottom: 20px;
}

#small-pic-list {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
}

#small-pic-list li {
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
}

#small-pic-list li img {
    width: 40px;
    border: 2px solid white;
}

small {
    font-size: 12px;
}

footer {
    clear: both;
    text-align: center;
    padding:5px;
    background: #ccc;
    opacity: .8;
}

footer a {
    text-decoration: none;
    color: #2a6496;
}

footer a:hover {
    color: #fff;
}