body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

a {
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}


/*Strip the ul of padding and list styling*/
#nav-bar ul {
	list-style-type:none;
	margin:0;
	padding:0;
    position: absolute;
}

/*Create a horizontal list with spacing*/
#nav-bar li {
	display: inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
#nav-bar li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
#nav-bar li:hover a {
	background: #2a6496;
}

/*Style for dropdown links*/
#nav-bar li:hover ul a {
	background: #ccc;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
#nav-bar li:hover ul a:hover {
	background: #428bca;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
#nav-bar li ul {
	display: none;
}

/*Make dropdown links vertical*/
#nav-bar li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
#nav-bar li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#nav-bar ul li a:hover + .hidden, #nav-bar .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
#nav-bar .show-menu {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	text-decoration: none;
	color: #333;
	background-color: #DDD;
	text-align: right;
	padding: 5px 10px;
	display: none;
    font-size: 1.5em;
}

#nav-bar .fa-bars {
    padding-left:5px;   
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	#nav-bar ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	#nav-bar li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	#nav-bar ul li, #nav-bar li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	#nav-bar .show-menu {
		display:block;
	}
    #title {
        display: none;
    }
}

@media screen and (min-width: 760px) {
    #first {
        padding-top:50px;
    }
}

small {
    font-size: 12px;
}

footer {
    clear: both;
    text-align: center;
    padding:5px;
    background: #eee;
}

footer a {
    text-decoration: none;
    color: #428bca;
}

footer a:hover {
    color: #2a6496;
}