body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}




/*Strip the ul of padding and list styling*/
#nav-bar ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
#nav-bar li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
#nav-bar li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
#nav-bar li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
#nav-bar li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
#nav-bar li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
#nav-bar li ul {
	display: none;
}

/*Make dropdown links vertical*/
#nav-bar li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
#nav-bar li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#nav-bar ul li a:hover + .hidden, #nav-bar .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
#nav-bar .show-menu {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: right;
	padding: 10px 10px;
	display: none;
    font-weight: 100;
}

#nav-bar .fa-bars {
    padding-left:5px;   
}

#title {
    margin-top: 12px;
    margin-bottom:-30px;
    text-align: center;
    color: #fff;
    font-size:1.2em;
    font-weight: 400;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	#nav-bar ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	#nav-bar li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	#nav-bar ul li, #nav-bar li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	#nav-bar .show-menu {
		display:block;
	}
}
